/**
 * styles.css
 *
 * App container styles
 */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #FFF;
}

.container {
  display: block;
  max-width: 800px;
  margin: 0 auto;
}
